/* Header */
.header {
    background-image: url("../assets/images/farm_zoo.jpg");
}
/* Akhir header */

/* Maggot */
.maggot {
    background-color: #f7f9ff;
    padding-bottom: 100px;
}
.maggot .paragraph {
    padding-top: 10px;
    color: #707070;
}

.maggot .img-maggot {
    width: 460px;
    height: 280px;
}
/* Akhir maggot */

/* Manfaat maggot */
.manfaat-maggot .heading-3 {
    padding: 14px 0;
}
/* Akhir manfaat maggot */

/* Siklus maggot */
.siklus-maggot {
    background-color: #f7f9ff;
    padding-bottom: 100px;
}

.siklus-maggot .img-siklus-maggot {
    width: 1100px;
    height: 1100px;
}
/* Akhir siklus maggot */

.footer {
    margin-top: 0;
}

/* Responsive */

/* small */
@media (min-width: 576px) {
    /* Maggot */
    .maggot .img-maggot {
        padding-top: 14px;
    }
    /* Akhir maggot */

    /* Manfaat */
    .manfaat-maggot .margin-icon {
        margin-top: 30px;
    }
    /* Akhir manfaat */

    .siklus-maggot .img-siklus-maggot {
        width: 520px;
        height: 520px;
    }
}

/* Medium */
@media (min-width: 768px) {
    /* Maggot */
    .maggot .img-maggot {
        width: 360px;
        height: 240px;
    }
    /* Akhir maggot */

    .siklus-maggot .img-siklus-maggot {
        width: 700px;
        height: 700px;
    }
}

/* Large */
@media (min-width: 992px) {
    /* Maggot */
    .maggot .img-maggot {
        width: 460px;
        height: 280px;
    }
    /* Akhir maggot */

    .manfaat-maggot .margin-icon {
        margin-top: 0;
    }

    .siklus-maggot .img-siklus-maggot {
        width: 940px;
        height: 940px;
    }
}

/* Extra large */
@media (min-width: 1200px) {
    .siklus-maggot .img-siklus-maggot {
        width: 1100px;
        height: 1100px;
    }
}
