/* header */
.header {
    background-image: url("../assets/images/village.jpg");
}

/* Stats */
.stats {
    margin-top: -60px;
    font-size: 20px;
    font-weight: 300;
}

.stats .stats-detail {
    background-color: #ffffff;
    padding: 16px 16px 16px 46px;
}

.stats .stats-detail .heading-2 {
    margin-bottom: 0;
}

.stats .stats-detail p {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

/* About us */
.tentang-kami {
    min-height: 1040px;
    background-color: #051334;
    margin-top: -60px;
    color: #ffffff;
}

.tentang-kami .heading-title {
    margin-top: 150px;
}

.tentang-kami .content-tentang-kami h2 {
    margin-bottom: 14px;
}

.tentang-kami .content-tentang-kami .img-village {
    width: 600px;
    height: 360px;
}

.tentang-kami .content-tentang-kami ol li {
    font-size: 18px;
    font-family: "Assistant", sans-serif;
    font-weight: 300;
    margin-bottom: 6px;
}

/* Hiasan box */
.tentang-kami .box-1 {
    transform: rotate(180deg);
}

.tentang-kami .box-2 {
    transform: translateY(-900px);
}

/* Fasilitas */
.fasilitas .content .card-fasilitas {
    width: auto;
    height: 450px;
    padding: 40px 0;
    position: relative;
}

.fasilitas .content .card-fasilitas img {
    margin-bottom: 14px;
}

.fasilitas .content .card-fasilitas .btn-primary {
    position: absolute;
    bottom: 0;
    margin-left: -72px;
    margin-bottom: 30px;
}

/* pengurus */
.struktur-pengurus {
    background-color: #f7f9ff;
    margin-top: 100px;
    padding-bottom: 100px;
}

.struktur-pengurus .pengurus .img-pengurus {
    margin-top: 50px;
    border-radius: 6px;
    width: 260px;
    height: 180px;
    margin: auto;
    display: block;
}

.struktur-pengurus .pengurus .heading-3 {
    padding-top: 20px;
}

/* berita */
.berita .content {
    color: #000000;
}
.berita .content .img-berita-utama {
    width: 540px;
    height: 360px;
    border-radius: 10px;
}

.berita .content .date {
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
}

.berita .content .heading-2 {
    text-transform: capitalize;
}

.berita .content .paragraph {
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

/* berita gallery */
.berita .content .berita-gallery .img-berita {
    width: 260px;
    height: 174px;
    border-radius: 6px;
}

.berita .content .berita-gallery .date {
    padding: 0;
    margin: 0;
}

.berita .content .berita-gallery .heading-3 {
    font-size: 18px;
    padding: 6px 0;
    text-transform: capitalize;
}

.berita .content .berita-gallery .paragraph {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.link-read-more {
    color: #051334;
    transition: 0.3s;
}
.link-read-more:hover {
    color: #7099ff;
    transition: 0.3s;
}
.berita .content .berita-gallery hr {
    color: #000000;
    margin: 24px 0;
}

/* Responsive */

/* Xtra Small */
@media (min-width: 0px) and (max-width: 575px) {
    /* Garis berita bawah berita utama */
    .hr-lg {
        display: block;
    }
    /* Akhir garis */

    /* Stats */
    .stats .stats-detail p {
        font-size: 12px;
    }

    .stats .stats-detail {
        padding: 10px 0 10px 10px;
    }
    /* Akhir stats */

    /* Tentang Kami */
    .tentang-kami .content-tentang-kami .img-village {
        width: 240px;
        height: 140px;
        margin-top: 20px;
    }

    .tentang-kami .box-1 {
        visibility: hidden;
    }

    .tentang-kami .box-2 {
        visibility: hidden;
    }
    /* Akhir Tentang Kami */

    /* Berita */
    .berita .content .img-berita-utama {
        width: 260px;
        height: 174px;
        border-radius: 10px;
    }
    /* Akhir berita */

    /* Fasilitas */
    .first-card-fasilitas {
        height: 520px !important;
    }
}

/* Small */
@media (min-width: 576px) {
    /* Stats */
    .stats .stats-detail {
        padding: 10px 0 10px 10px;
    }

    /* Tentang kami */
    .tentang-kami .content-tentang-kami .img-village {
        width: 400px;
        height: 220px;
        margin-top: 20px;
    }

    .tentang-kami .box-1 {
        visibility: hidden;
    }

    .tentang-kami .box-2 {
        visibility: hidden;
    }

    /* Berita */
    .hr-lg {
        display: block;
    }

    .berita .content .img-berita-utama {
        width: 540px;
        height: 360px;
        border-radius: 10px;
    }
}

/* Medium */
@media (min-width: 768px) {
    /* Stats */
    .stats .stats-detail {
        padding: 16px 16px;
    }

    /* Tentang kami */
    .tentang-kami .content-tentang-kami .img-village {
        margin-top: 20px;
        width: 600px;
        height: 360px;
    }

    .tentang-kami .box-1 {
        visibility: visible;
        margin-top: 30px;
    }

    .tentang-kami .box-2 {
        visibility: visible;
        transform: translateY(-1630px);
    }
}

/* Large */
@media (min-width: 992px) {
    /* Tentang kami */
    .tentang-kami .content-tentang-kami .img-village {
        width: 460px;
        height: 270px;
    }

    .tentang-kami .box-2 {
        transform: translateY(-1100px);
    }

    /* Struktur pengurus */
    .struktur-pengurus .pengurus .img-pengurus {
        width: 220px;
        height: 140px;
    }

    /* Stats */
    .stats .stats-detail {
        padding: 16px 16px;
    }
}

/* Extra large */
@media (min-width: 1200px) {
    /* Struktur pengurus */
    .struktur-pengurus .pengurus .img-pengurus {
        width: 260px;
        height: 180px;
    }

    /* Stats */
    .stats .stats-detail {
        padding: 16px 16px 16px 46px;
    }

    /* Tentang kami */
    .tentang-kami .content-tentang-kami .img-village {
        width: 500px;
        height: 288px;
    }
    .tentang-kami .box-1 {
        margin-top: 30px;
    }

    .tentang-kami .box-2 {
        transform: translateY(-1000px);
    }

    /* Berita */
    .hr-lg {
        display: none;
    }
}

/* extra-extra large */
@media (min-width: 1400px) {
}
