/* Reset body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* end reset body */

/* Margin Content */
.content {
    margin-top: 50px;
}
/* Akhir margin content */

/* default font */
body {
    font-family: "Assistant", sans-serif;
    overflow-x: hidden;
    color: #051334;
}
/* default font */

/* Banner Header */
.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    background-image: url("../assets/images/village.jpg");
    background-size: cover;
}

.header h1 {
    text-align: center;
    color: #f5f4f1;
    z-index: 1;
}
.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}
/* Akhir Banner Header */

/* Heading */
.heading-1 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.heading-3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.heading-title {
    margin-top: 100px;
    text-transform: uppercase;
}

.heading-title p {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.paragraph {
    font-size: 20px;
    font-weight: 300;
}
/* Heading */

/* Navbar */
.navbar .navbar-brand .img-logo {
    max-height: 40px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #f5f4f1;
    font-size: 18px;
    font-family: "Assistant", sans-serif;
    font-weight: 400;
}

.navbar .navbar-nav .nav-item .scroll {
    color: #051334 !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #b6b6b6 !important;
}

.navbar-background {
    background: #ffffff !important;
    border-bottom: 2px solid #e2e2e2 !important;
    transition: linear 0.2s;
}
/* Akhir navbar */

/* Button */
.btn {
    border: none;
}

.btn-primary {
    background-color: #ff7e00;
    color: #ffffff;
    padding: 10px 38px;
    font-weight: 600;
    transition: linear 0.2s;
}

.btn-primary:hover {
    background-color: #ffab58;
    transition: linear 0.2s;
}

/* Akhir button */

/* Carousel button */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* Akhir carousel button */

/* footer */
.footer {
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 50px 0;
    background-color: #f5f4f1;
    border: 2px solid #e2e2e2;
}

.footer .list-unstyled a {
    text-decoration: none;
    color: #051334;
    font-size: 20px;
}

.footer .social-media a {
    margin-right: 20px;
}

/* Copyright */
.copyright {
    margin-bottom: 30px;
}

.copyright p {
    padding: 0;
    margin: 0 5px;
    font-weight: 300;
}
/* Akhir footer */
