/* Reset body */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* end reset body */

/* Margin Content */
.content {
    margin-top: 50px;
}
/* Akhir margin content */

/* default font */
body {
    font-family: "Assistant", sans-serif;
    overflow-x: hidden;
    color: #000000;
}
/* default font */

/* Banner Header */
.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
}

.header h1 {
    text-align: center;
    color: #f5f4f1;
    z-index: 1;
}
.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}
/* Akhir Banner Header */

/* Heading */
.heading-1 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.heading-3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.heading-title {
    margin-top: 100px;
    text-transform: uppercase;
}

.heading-title p {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.paragraph {
    font-size: 20px;
    font-weight: 300;
}
/* Heading */

/* Navbar */
.navbar .navbar-brand .img-logo {
    max-height: 40px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #f5f4f1;
    font-size: 18px;
    font-family: "Assistant", sans-serif;
    font-weight: 400;
}

.navbar .navbar-nav .nav-item .scroll {
    color: #000000 !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #b6b6b6 !important;
}

.navbar-background {
    background: #ffffff !important;
    border-bottom: 2px solid #e2e2e2 !important;
    transition: linear 0.2s;
}
/* Akhir navbar */

/* Button */
.btn {
    border: none;
}

.btn-primary {
    background-color: #ff7e00;
    color: #ffffff;
    padding: 10px 38px;
    font-weight: 600;
    transition: linear 0.2s;
}

.btn-primary:hover {
    background-color: #ffab58;
    transition: linear 0.2s;
}

.btn-secondary {
    background-color: #051334;
    color: #ffffff;
    padding: 10px 38px;
    font-weight: 600;
    transition: linear 0.2s;
}
.btn-secondary:hover {
    background-color: #1440a5;
    transition: linear 0.2s;
}

/* Akhir button */

/* footer */
.footer {
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 50px 0;
    background-color: #f5f4f1;
    border: 2px solid #e2e2e2;
}

.footer .list-unstyled a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.footer .social-media a {
    margin-right: 20px;
}

/* Copyright */
.copyright {
    margin-bottom: 30px;
}

.copyright img {
    margin-right: 6px;
}

.copyright p {
    padding: 0;
    margin: 0 5px;
    font-weight: 300;
}
/* Akhir footer */

/* responsive */
@media (min-width: 0px) and (max-width: 575px) {
    .content p {
        font-size: 14px;
    }

    .navbar .navbar-brand .img-logo {
        width: 180px;
        height: 36px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }

    .heading-1 {
        font-size: 24px;
    }

    .heading-2 {
        font-size: 18px;
    }

    .heading-3 {
        font-size: 16px;
    }

    .heading-title p {
        font-size: 16px;
    }

    /* Footer */
    .footer .heading-3 {
        font-size: 16px;
    }

    .footer .list-unstyled li a {
        font-size: 16px;
    }

    .footer .social-media a {
        margin-right: 6px;
    }

    .footer .social-media a img {
        width: 20px;
        height: 20px;
    }

    .copyright p {
        font-size: 14px;
    }
}
